  <div class="col-md-2">
  	
  </div>
  
  <div class="col-md-8">
  	<div class="text-center"><h1>Edit Job</h1></div>
  	<%= render 'form', job: @job %>
  </div>
  
  <div class="col-md-2">
  	
  </div>
</div>