<% provide(:title, "Customers") %>

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Customers</h1>
            </div>
        </div>
    </div>
</div>
<hr>
<div id="content">
	<div class="container">

        <div id="content">
            <div class="container">
                <p class="text-muted lead text-center">
                    

                </p>

                <div class="row products">

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="../assets/cumberland_county.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Cumberland County<br> Department of Social Services</a></h3>
                                <p></p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="../assets/army.png" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="shop-detail#">FORSCOM Fort McPherson</a></h3>
                                <p></p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="../assets/82nd.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">HQ 82nd Aviation Brigade</a></h3>
                                <p>Fort Bragg, NC</p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="../assets/sf.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">United States Special Forces</a></h3>
                                <p>Training Excercises At Fort Bragg, NC</p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                </div>
                <div class="row products">

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="../assets/dla.png" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Defense Logistics Agency at Norfolk, VA</a></h3>
                                <p>Formally Naval Defense Distribution Depot </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="../assets/nglogo.jpeg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Teamed Up with Northrop Grumman</a></h3>
                                <p></p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="../assets/ncdhhs.jpeg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Fayetteville Children's Developmental Service Agency</a></h3>
                                <p></p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="../assets/ncdhhs.jpeg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">NSPS/BRAC <br> Human Resources Division Support</a></h3>
                                <p></p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>


                </div>
                <!-- /.products -->
             </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        <!-- *** GET IT ***
_________________________________________________________ -->


		
	</div>
<section class="bar no-mb color-white">
	<div class="container">
  		<div class="row">
    		<div class="col-md-12">

            </div>
        </div>
    </div>
</section>
</div>

